{% extends 'events/base.html' %}

{% block content %}

    <h4>Event details page:</h4>

    <p>name&nbsp;description&nbsp;start_date&nbsp;end_date</p>

    <p>{{ event.event_name }}&nbsp;{{event.description}}&nbsp;{{event.start_date}}&nbsp;{{event.end_date}}</p>


    <h4>activities in this event:</h4>
    <table>

    <th>title</th><th>description</th><th>time</th><th>place</th>
    {% for activity in activities_list %}
        <tr>
            <td>{{activity.title}}</td>
            <td>{{activity.description}}</td>
            <td>{{ activity.time|date:"D d M Y" }} {{ activity.time|time:"H:i" }}</td>
            <td>{{activity.place}}</td>
        </tr>
    {% endfor %}
        
    </table>
    <br>

    <a href="{% url 'events_manager-new_activity' %}">add new activity</a>
{% endblock %}