{% extends 'events/base.html' %}

{% block content %}

    <h3 style="padding: 20px ">All events:</h3>
    <div class="row" style="padding: 20px; padding-bottom: 0px">
        {% for event in event_list %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption" style="background-color: gainsboro">
                    <div class="container" style="background-color: lightgrey">
                    <a href="{% url 'events_manager-event_details' event.event_id %}">
                        <h3>{{ event.event_name }}</h3>
                    </a>
                    </div>
                        <p>{{event.description}}</p>
                        <p>Start date: {{event.start_date}}</p>
                        <p>End date: {{event.end_date}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <a href="{% url 'events_manager-new_event' %}" style="padding: 20px" >
        <button type="button" class="btn btn-dark" >
        Click to add new event
        </button>
    </a>


{% endblock %}