{% extends 'events/base.html' %}

{% block content %}

    <div class="home-constant-content">
        <h1>Hi! Welcome to Events page!</h1>

        <p>In here You can log Board Game, RPG or any other kind of event, fill it with activities of your choice and
        share it with other people</p>
    </div>


    <div class="home-events-list">
        <h3>Here are Your upcoming events!</h3>
        {% for event in event_list %}
            <div class="single-event">
                {{event.event_name}}
            </div>
        {% endfor %}
    </div>





{% endblock %}