
{% extends 'events/base.html' %}

{% block content %}
<div class="input">
    <h1>Welcome to Events manager</h1>
    <h5> The ultimate app for events organizing</h5>
<h7>
    <p>Croque monsieur dolcelatte manchego.<br/> Port-salut squirty cheese queso rubber cheese dolcelatte <br/>
    camembert de normandie cheesy feet babybel. <br/>St. agur blue cheese manchego cheesy grin parmesan chalk and cheese<br/>
    pecorino cheesy grin fondue. Roquefort taleggio stinking bishop cheese slices<br/> everyone loves fondue dolcelatte ricotta. </p>
    <p>Emmental st. agur blue cheese cream cheese. Edam cheese and biscuits swiss.<br/> The big cheese red leicester queso boursin
        port-salut hard cheese feta hard cheese. <br/>Fondue ricotta lancashire mozzarella jarlsberg fondue<br/> emmental cheesecake. Pepper jack taleggio.<br/></p>
</h7>
</div>
{% endblock %}